@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,800');

.recipe-container{
  overflow: scroll;
  position: relative;
  width: 60%;
  float: left;
  text-align: center;
  height: 100%;
  border:1px solid black;
  font-family: 'Ubuntu'
}


.recipe-form-container form{
  vertical-align: middle;
  margin-left: 1%;
}

.recipe-form-container input[type=text] {
  margin-bottom: 25px;
  padding-top: 25px;
  outline:none;
  width: 60%;
  border:none;
  border-bottom:1px solid #757575;
  font-size: 25px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-family: 'Ubuntu'
}

.recipe-form-container input[type=text]:focus {
  width: 98%;
}


.multi-recipe-inputs {
  vertical-align: middle;
  margin-left: 1%;
}

.multi-recipe-inputs input{
  margin-bottom: 25px;
  padding-top: 25px;
  outline:none;
  width: 60%;
}

.multi-recipe-inputs input[type=text]:focus {
  width: 60%;
}

.multi-recipe-inputs button{
  background-color: #fff;
  border: 1px solid #009688;
  color: #009688;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  border-radius: 50%;
}

.multi-recipe-inputs button:hover{
  color:#fff;
  background:#009688;
}



.display-box{
  position: relative;
  width: 350px;
  height: 300px;
  background-color: #f6f6f6;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.4);
  overflow: scroll;
  float: left;
  margin-left: 5%
}

.tag-pill{
  background-color: #009688;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.tag-pill button{
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #009688;
  color: #009688;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
}

.tag-pill button:hover{
  background-color: #009688;
  color: #fff;
}

.ingredient-pill button{
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #009688;
  color: #009688;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
}

.ingredient-pill button:hover{
  background-color: #009688;
  color: #fff;
}

.ingredient-pill{
  background-color: #009688;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
