.recipe-container{
  overflow: scroll;
  position: relative;
  width: 60%;
  float: left;
  text-align: center;
  height: 100%;
  border:1px solid black;
}


.recipe-form-container form{
  vertical-align: middle;
  margin-left: 1%;
}

.recipe-form-container input[type=text] {
  margin-bottom: 25px;
  padding-top: 25px;
  outline:none;
  width: 60%;
  border:none;
  border-bottom:1px solid #757575;
  font-size: 25px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-family: 'Ubuntu'
}

.recipe-form-container input[type=text]:focus {
  width: 98%;
}


.multi-recipe-inputs {
  vertical-align: middle;
  margin-left: 1%;
}


.display-box{
  
}
