

.meal-wrapper{
  position: relative;
  max-width: 350px;
  height: 400px;
  background-color: #f6f6f6;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px 0;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.4);
  overflow: scroll;
  float: left;
  margin-left: 5%
}

.meal-wrapper:hover{

}


.meal-box-title h1{
  font-size: 25px;
  text-align: left;
  padding-left: 2%;
}

.meal-box-description p{
  font-size: 15px;
  text-align: left;
  padding-left: 2%;
}

.meal-box-ingredients h2{
  font-size: 18px;
  text-align: left;
  padding-left: 2%;
}

.meal-box-ingredients li{
  text-align: left;
  list-style: none;
}

.add-to-menu button{
  background-color: #fff;
  border: 1px solid #009688;
  color: #009688;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.add-to-menu button:hover{
  color:#fff;
  background:#009688;
}
