.meal-box {
  width: 30%;
  height: 80%;
  margin: 2% 3% 20px 2%;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.meal-box.open {
  border-color: #dd0000;
  width: 96%;
  height: 180px;
  margin: 0;
}
