.profile-container{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.navbar-container{
  float: left;
  width: 20%;
  text-align: center;
  height: 100%;
  background-color: #16C10A;
}

.list-container{
  float: right;
  width: 20%;
  text-align: center;
  height: 100%;
}


.navbar-container ul{
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.navbar-container li{
  font-size: 20px;
  list-style: none;
  width: 100%;
  padding-top: 7%;
  padding-bottom: 7%;
}

.navbar-container li:hover{
  font-size: 23px;
}
